FORMAT: 1A
HOST: https://connect.tradedoubler.com/

# Tradedoubler Advertiser Management API

Tradedoubler is an Affiliate Marketing Network, connecting various advertising brands with our network of publishing websites. Tradedoubler's platform manages this relationship between advertisers and publishers. 
This documentation relates to the Advertiser API, which allows brands or advertisers to manage their programs on Tradedoubler's platform. 

Changelog
=========
2021-08-19
Endpoints changed in this release:
+ GET /events
+ POST /events
+ PUT /events

### Events
When creating a lead or sale event, we automatically create a corresponding impression based event (i.e. for when there is no click we assign the conversion to an impression and then track using the referencing impression conversion event).
We have added the referencing iLead or iSales event to leads and sales event.

2021-08-05
----------
Endpoints changed in this release:
+ GET /transactions
+ GET /transactions/export
+ GET /users/me
+ PUT /users/me

### Transactions
We have included an option to filter by datetime by adding time to toDate and fromDate, this can apply to timeOfTransaction or timeOfLastModified. Time is optional and if not supplied, we assume 00:00:00 for fromDate and 23:59:59 for toDate.

### Transactions export
We have included an option to filter by datetime by adding time to toDate and fromDate, this can apply to timeOfTransaction or timeOfLastModified. Time is optional and if not supplied, we assume 00:00:00 for fromDate and 23:59:59 for toDate.

### Update Account
We have included an endpoint to update your account details.

### User currency preferences
All users can now specify their prefered currency, this will be used in the UI to default currency for dashboards and reports.


2021-07-30
----------
Endpoints changed in this release:
+ GET /transactions
+ GET /transactions/export

### Transactions
We have included an optional lastModified: When enabled, this applies the date range to the date the transaction was last modified rather than the time the of transaction.

### Transactions export
We have included an optional lastModified: When enabled, this applies the date range to the date the transaction was last modified rather than the time the of transaction.


2021-03-23
----------
Endpoints changed in this release:
+ DELETE /programs/{programId}

### Close Program
We have introduced a new endpoint which will close an existing program

2021-03-09
----------
Endpoints changed in this release:
+ GET /pendingSales
+ GET /programs/{programId}/sources
+ POST /programs/{programId}/commissions

### PendingSales
We have improved performance on pendingSales endpoint, as a result we have removed the field "queuedForProcess"

### Program Sources
We have added more meta data for program sources, this will help with validation of affiliate applications. The fields are: sourceUrl, promotionTypeId and promotionTypeName

### Program Commissions
We have fixed a bug where commissions could not be added for untracked sales events (event id 17)

2020-12-15
----------
Endpoints changed in this release:
+ GET /dashboard

### Dashboard
We have added metrics for Unique Visitors, impression Leads and Impression Sales as well daily breakdown and commission for Impression Leads and Sales.

## Authentication
Authentication against the API is handled by [oAuth 2.0](https://oauth.net/2/) using bearer tokens. Once you have authentication using the oauth endpoint, all requests require a bearer token sent via the `Authorization` header as per the following format:
```
Authorization: Bearer eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJ0ZHVzZXIiOiIzYWY2MDIyZDlmZjQ2NjcxNTEwOWY1OWQ2Yjc4MDI0YjI0NzA1Y2RiYzRhNDJkODkxMGNhNmZkYjBhN2RkNzE5ODJkNDdhNTQwN2FjNTQxYTAyZDczOTRmMmQxZmI5ODI1NTRhYjRjNWE2OTAyMjQ3NGEwZDczNDY5M2ZjMmEzMDgzYTI0MzBkYzI4OTU4ZDI2MmQ5OGZiOTBhYzk1Yjc3YTMyMmViOTM0NDdiMzFlMzY2YWU3ZTlmNzM0M2NmM2NhM2I5ZWVkNzQzYTc5Y2JmY2EyYzQzMmE0YWIxMGU5MTU2YzFlYzQxZTVmNzBjZmIwMzZiMDE5MmQ1ZTllYjQ5OGRmNzMzZDNlZWVmYTIxNDM4YjE2NGRhOTgyYjVjYmIxM2ZhMzgyMzY5NzlkZTllMTQwNWJhYTY0YWRjYmQzNTllZGM5NjcyZWVkY2MxN2IyMzY0MTU5ZmNkOWFmMzFhMDYyMWM2MmQwYzEyMGM0Y2YyOWFiNzAwYWRmNWYzMWI0YTNmN2M5NDgxNDE4M2UxM2YwODIwZmE0ZmFkMDM5NiIsInVzZXJfbmFtZSI6InVrQHRyYWRlZG91Ymxlci5jb20iLCJjcmVhdGVkIjoxNTQ5OTc3MDE3LCJzY29wZSI6WyJyZWFkIl0sImV4cCI6MTU0OTk3NzkxNywiYXV0aG9yaXRpZXMiOlsiUk9MRV9VU0VSIl0sImp0aSI6IjA2OGU4YTllLTc4ZjUtNDdkNy1iMjU1LWU1YmZmZjExYWM4OCIsImNsaWVudF9pZCI6InRkY29ubmVjdF9wdWJsaXNoZXIifQ.cN_ose-fMtxGbVN27Yg2Sotc4zz4oLLVkyZHvCvj0zs
```

You will need a valid Client ID and Secret code before you can use the API. 
You will need to retrieve this through the [Tradedoubler API Client UI](https://solutions.tradedoubler.com/tools/api-client).
For more information see [oAuth Section](#/reference/o-auth-2-0)

## Response Formats
The reponse format for all API requests is JSON. All requests should therefore contain the following header:
```
Content-Type: application/json
```

Rate Limiting
================
To ensure system stability we apply limits to the number of API requests allowed by API Clients. This is limited to 60 requests per minute. If you exceed this you will receive the a HTTP 429 Too Many Requests Status Error with the response body: 
```
API rate limit exceeded
```
Please wait another minute and you will be able to make API requests again.

Paging
======
To handle large results and to optimise performance of our API we use paginatation on a number of our endpoints to reduce the size of results returned to the client. All endpoints supporting pagination will return 2 attributes:
- offset
- limit

To page through the results you need to supply two fields within the body of your GET request:

|Paramater|Description|Details|
|:--------|-----------|-------|
offset|Offset the results by a specified amount|Integer, default is 0|
limit|Limit the number of results to be returned|Integer, default is 20, maxmium limit is 100 unless specified

For example: 
- If the limit is default at 20 and an endpoint produces 100 results, only the first 20 will be returned (results 0 to 19). 
- In order to retrieve the remaining results, use the offset parameter. In this example, adding offset=20 to the query string parameters.
- Results begin at offset 0. If you're retrieving a report with limit=20, page 2 will begin at offset=20, page 3 at offset=40, page 4 at offset=60, etc.

Roles
=====
Advertiser users can be given one of four roles. This determines which endpoints they can access.

User Management
---------------
|Method|URL|Owner|Admin|Member|Read-only|
|:-----|---|-----|-----|-----|----|
GET|/users/me|&#10004;|&#10004;|&#10004;|&#10004;
PUT|/users/me|&#10004;|&#10004;|&#10004;|&#10004;
PUT|/users/me/password|&#10004;|&#10004;|&#10004;|&#10004;
GET|/users/me/password/reset|&#10004;|&#10004;|&#10004;|&#10004;
PUT|/users/me/password/reset|&#10004;|&#10004;|&#10004;|&#10004;
POST|/users/me/password/reset|&#10004;|&#10004;|&#10004;|&#10004;
GET|/users|&#10004;|||
POST|/users|&#10004;|||
GET|/users/{logonAccountId}|&#10004;|||
PUT|/users/{logonAccountId}|&#10004;|||
DELETE|/users/{logonAccountId}|&#10004;|||

Account Management
------------------
|Method|URL|Owner|Admin|Member|Read-only|
|:-----|---|-----|-----|-----|----|
GET|/ads|&#10004;|&#10004;|&#10004;|&#10004;
PUT|/ads|&#10004;|&#10004;|&#10004;|
POST|/ads|&#10004;|&#10004;|&#10004;|
DELETE|/ads|&#10004;|&#10004;|&#10004;|
GET|/programs|&#10004;|&#10004;|&#10004;|&#10004;
POST|/programs|&#10004;|&#10004;||
GET|/programs/{programId}|&#10004;|&#10004;|&#10004;|&#10004;
PUT|/programs/{programId}|&#10004;|&#10004;|&#10004;|
GET|/programs/{programId}/advanced|&#10004;|&#10004;||
PUT|/programs/{programId}/advanced|&#10004;|&#10004;||
GET|/programs/{programId}/commissions|&#10004;|&#10004;|&#10004;|&#10004;
POST|/programs/{programId}/commissions|&#10004;|&#10004;||
GET|/programs/{programId}/segments|&#10004;|&#10004;|&#10004;|&#10004;
PUT|/programs/{programId}/segments|&#10004;|&#10004;||
POST|/programs/{programId}/segments|&#10004;|&#10004;||
GET|/programs/{programId}/sources|&#10004;|&#10004;|&#10004;|&#10004;
PUT|/programs/{programId}/sources&#10004;|&#10004;||
GET|/events|&#10004;|&#10004;|&#10004;|&#10004;
PUT|/events|&#10004;|&#10004;||
POST|/events|&#10004;|&#10004;||
GET|/tokens|&#10004;|&#10004;|&#10004;|
POST|/tokens|&#10004;|&#10004;||
GET|/salesPending|&#10004;|&#10004;|&#10004;|
PUT|/salesPending|&#10004;|&#10004;|&#10004;|
GET|/invoices|&#10004;|&#10004;||
GET|/invoices/{invoiceId}|&#10004;|&#10004;||
GET|/sources|&#10004;|&#10004;|&#10004;|&#10004;
GET|/sources/{sourceId}|&#10004;|&#10004;|&#10004;|&#10004;
POST|/sources/apply|&#10004;|&#10004;|&#10004;|&#10004;

Reporting
---------
|Method|URL|Owner|Admin|Member|Read-only|
|:-----|---|-----|-----|-----|----|
GET|/statistics|&#10004;|&#10004;|&#10004;|&#10004;
GET|/statistics/export|&#10004;|&#10004;|&#10004;|&#10004;
GET|/transactions|&#10004;|&#10004;|&#10004;|&#10004;
GET|/transactions/export|&#10004;|&#10004;|&#10004;|&#10004;
GET|/dashboard|&#10004;|&#10004;|&#10004;|&#10004;
GET|/dashboard/programs|&#10004;|&#10004;|&#10004;|&#10004;
GET|/dashboard/sources|&#10004;|&#10004;|&#10004;|&#10004;


# Group oAuth 2.0

## Bearer and Refresh Token [/uaa/oauth/token]
Tradedoubler APIs use oAuth2 authentification with refreshTokens.
All requests must be validated with a bearerToken in the header request.

Only use oAuth2 credentials when you don't already have a refresh token!

### Client Credentials

To use our APIs you will need to create a client which provides a ClientId and ClientSecret. 
The client is required to generate a bearer token which is used on all subsequent API requests to validate your account and role. 
You can create your API client using our tool at the following URL: https://solutions.tradedoubler.com/tools/api-client

Your clientSecret is only shown once when you create a new client. 
If you do not know your clientSecret you must delete and recreate the client in the [API Client UI](https://solutions.tradedoubler.com/tools/api-client)!

<img width="125%" src="https://hst.tradedoubler.com/file/47446/api_client_screenshot.jpg"/></br>

### Bearer token [POST]
To generate a bearer token you need to send a POST request to the oauth endpoint with your username and password. 
All requests have to be signed with an Authorization generated by a valid ClientID and ClientSecret in the Header:
```
Authorization: Basic U3dhZ3dsciByb2Nrcw== 
```
Where `U3dhZ3dsciByb2Nrcw==` is Base64 encoding of ClientID and ClientSecret
`base64encoded(ClientID:ClientSecret)`
+ Request (application/x-www-form-urlencoded)

    +  Body
    
        grant_type=password&username=YOURUSERNAME&password=YOURPASSWORD

+ Response 200 (application/json)

        {
          "access_token": "eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJ0ZHVzZXIiOiIzYWY2MDIyZDlmZjQ2NjcxNTEwOWY1OWQ2Yjc4MDI0YjI0NzA1Y2RiYzRhNDJkODkxMGNhNmZkYjBhN2RkNzE5ODJkNDdhNTQwN2FjNTQxYTAyZDczOTRmMmQxZmI5ODI1NTRhYjRjNWE2OTAyMjQ3NGEwZDczNDY5M2ZjMmEzMDgzYTI0MzBkYzI4OTU4ZDI2MmQ5OGZiOTBhYzk1Yjc3YTMyMmViOTM0NDdiMzFlMzY2YWU3ZTlmNzM0M2NmM2NhM2I5ZWVkNzQzYTc5Y2JmY2EyYzQzMmE0YWIxMGU5MTU2YzFlYzQxZTVmNzBjZmIwMzZiMDE5MmQ1ZTllYjQ5OGRmNzMzZDNlZWVmYTIxNDM4YjE2NGRhOTgyYjVjYmIxM2ZhMzgyMzY5NzlkZTllMTQwNWJhYTY0YWRjYmQzNTllZGM5NjcyZWVkY2MxN2IyMzY0MTU5ZmNkOWFmMzFhMDYyMWM2MmQwYzEyMGM0Y2YyOWFiNzAwYWRmNWYzMWI0YTNmN2M5NDgxNDE4M2UxM2YwODIwZmE0ZmFkMDM5NiIsInVzZXJfbmFtZSI6InVrQHRyYWRlZG91Ymxlci5jb20iLCJjcmVhdGVkIjoxNTQ5OTc3MDE3LCJzY29wZSI6WyJyZWFkIl0sImV4cCI6MTU0OTk3NzkxNywiYXV0aG9yaXRpZXMiOlsiUk9MRV9VU0VSIl0sImp0aSI6IjA2OGU4YTllLTc4ZjUtNDdkNy1iMjU1LWU1YmZmZjExYWM4OCIsImNsaWVudF9pZCI6InRkY29ubmVjdF9wdWJsaXNoZXIifQ.cN_ose-fMtxGbVN27Yg2Sotc4zz4oLLVkyZHvCvj0zs",
          "token_type": "bearer",
          "refresh_token": "eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJ0ZHVzZXIiOiIzYWY2MDIyZDlmZjQ2NjcxNTEwOWY1OWQ2Yjc4MDI0YjI0NzA1Y2RiYzRhNDJkODkxMGNhNmZkYjBhN2RkNzE5ODJkNDdhNTQwN2FjNTQxYTAyZDczOTRmMmQxZmI5ODI1NTRhYjRjNWE2OTAyMjQ3NGEwZDczNDY5M2ZjMmEzMDgzYTI0MzBkYzI4OTU4ZDI2MmQ5OGZiOTBhYzk1Yjc3YTMyMmViOTM0NDdiMzFlMzY2YWU3ZTlmNzM0M2NmM2NhM2I5ZWVkNzQzYTc5Y2JmY2EyYzQzMmE0YWIxMGU5MTU2YzFlYzQxZTVmNzBjZmIwMzZiMDE5MmQ1ZTllYjQ5OGRmNzMzZDNlZWVmYTIxNDM4YjE2NGRhOTgyYjVjYmIxM2ZhMzgyMzY5NzlkZTllMTQwNWJhYTY0YWRjYmQzNTllZGM5NjcyZWVkY2MxN2IyMzY0MTU5ZmNkOWFmMzFhMDYyMWM2MmQwYzEyMGM0Y2YyOWFiNzAwYWRmNWYzMWI0YTNmN2M5NDgxNDE4M2UxM2YwODIwZmE0ZmFkMDM5NiIsInVzZXJfbmFtZSI6InVrQHRyYWRlZG91Ymxlci5jb20iLCJjcmVhdGVkIjoxNTQ5OTc3MDE3LCJzY29wZSI6WyJyZWFkIl0sImF0aSI6IjA2OGU4YTllLTc4ZjUtNDdkNy1iMjU1LWU1YmZmZjExYWM4OCIsImV4cCI6MTU1MDU4MTgxNywiYXV0aG9yaXRpZXMiOlsiUk9MRV9VU0VSIl0sImp0aSI6Ijc1ZDhlMjg2LTJmMDMtNDM4NS04MDhiLTkyMGUyMDZhMDdjMyIsImNsaWVudF9pZCI6InRkY29ubmVjdF9wdWJsaXNoZXIifQ.CLb7wcUqd0YnTbSwaR99KLZiYkvOj_JRuU6D-_EmIYo",
          "expires_in": 899,
          "scope": "read",
          "tduser": "3af6022d9ff466715109f59d6b78024b24705cdbc4a42d8910ca6fdb0a7dd71982d47a5407ac541a02d7394f2d1fb982554ab4c5a69022474a0d734693fc2a3083a2430dc28958d262d98fb90ac95b77a322eb93447b31e366ae7e9f7343cf3ca3b9eed743a79cbfca2c432a4ab10e9156c1ec41e5f70cfb036b0192d5e9eb498df733d3eeefa21438b164da982b5cbb13fa38236979de9e1405baa64adcbd359edc9672eedcc17b2364159fcd9af31a0621c62d0c120c4cf29ab700adf5f31b4a3f7c94814183e13f0820fa4fad0396",
          "created": 1549977017,
          "jti": "068e8a9e-78f5-47d7-b255-e5bfff11ac88"
        }

### Refresh Token [POST]
To refresh a token you need to send a POST request to the oauth endpoint with the refresh token received in the response when generating a bearer token. 
All requests have to be signed with an Authorization generated by a valid ClientID and ClientSecret in the Header:
```
Authorization: Basic U3dhZ3dsciByb2Nrcw== 
```
Where `U3dhZ3dsciByb2Nrcw==` is Base64 encoding of ClientID and ClientSecret
`base64encoded(ClientID:ClientSecret)`
+ Request (application/x-www-form-urlencoded)

    + Body
    
        grant_type=refresh_token&refresh_token=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJ0ZHVzZXIiOiI1MWI1MGI5YWE5MDJmMjVkOTA5OTA1ZDExNTY5YjNiNzc1MzU0NmQ5YWJhZDY4MDVjNDJmN2I0OTM1NDA3NzJiOTQzYzE4MmQ4ZmUxZGVhMjZlY2NiZWU4ZDgzODZhYWExYWQwNTA4NDM5ZWNkZDcwYjIwNWY5YzliZWUxNWQ0MDI3OWM3NDA1ZDA0OTUzYTczNjJjMzdiY2JhM2Y4OTBkOTA2Njg3ZTM3MGRhNDk1MWI1YzhmNDYxMTc2MTMzZDRhYjg1MWI1Y2FmZThlYWMwYjBiNmViOTM1MmE4NDllOTAyZGNkMWMwYWI4ODQ3NzVmZTBhNTk1MjZhMjdkODE5NjhiNDhjZWRmNTVlNDAzNTQ2ODBjOGE5ODkxMTMxNGUzODlhMTZkNmRiYmMwODA0MDkwYjE0MGM4MTM5NmYwYzk3MmIxNDAwMzBlMjVhMDdlN2E2OWY5OWFiNjRjN2UyODBjMWU1N2U5ZTc5YzY3NTAyNzhkNTFkMjljYWYxNGNlNjE3MjUzMjljYTk0YjlkZGZhZTIyMmQ3NGMwMTUwOSIsInVzZXJfbmFtZSI6InVrQHRyYWRlZG91Ymxlci5jb20iLCJjcmVhdGVkIjoxNTQ4ODQyOTE0LCJzY29wZSI6WyJyZWFkIl0sImF0aSI6ImQxNDgyMTNhLTgzMDctNDNkMi04NGM3LTdhZWEzNDRmZjMxNyIsImV4cCI6MTU0OTQ0NzcxNCwiYXV0aG9yaXRpZXMiOlsiUk9MRV9VU0VSIl0sImp0aSI6Ijk2NjBhM2Q2LTY4OGItNGI1YS04MzQ2LWM4OGU5ZmY1ODAwNyIsImNsaWVudF9pZCI6InRkY29ubmVjdF9wdWJsaXNoZXIifQ.ZULaTx8NajqFb0xI1L77LDCGPvC6-IasQNZl8L1tNZs

+ Response 200 (application/json)

        {
          "access_token": "eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJ0ZHVzZXIiOiIzYWY2MDIyZDlmZjQ2NjcxNTEwOWY1OWQ2Yjc4MDI0YjI0NzA1Y2RiYzRhNDJkODkxMGNhNmZkYjBhN2RkNzE5ODJkNDdhNTQwN2FjNTQxYTAyZDczOTRmMmQxZmI5ODI1NTRhYjRjNWE2OTAyMjQ3NGEwZDczNDY5M2ZjMmEzMDgzYTI0MzBkYzI4OTU4ZDI2MmQ5OGZiOTBhYzk1Yjc3YTMyMmViOTM0NDdiMzFlMzY2YWU3ZTlmNzM0M2NmM2NhM2I5ZWVkNzQzYTc5Y2JmY2EyYzQzMmE0YWIxMGU5MTU2YzFlYzQxZTVmNzBjZmIwMzZiMDE5MmQ1ZTllYjQ5OGRmNzMzZDNlZWVmYTIxNDM4YjE2NGRhOTgyYjVjYmIxM2ZhMzgyMzY5NzlkZTllMTQwNWJhYTY0YWRjYmQzNTllZGM5NjcyZWVkY2MxN2IyMzY0MTU5ZmNkOWFmMzFhMDYyMWM2MmQwYzEyMGM0Y2YyOWFiNzAwYWRmNWYzMWI0YTNmN2M5NDgxNDE4M2UxM2YwODIwZmE0ZmFkMDM5NiIsInVzZXJfbmFtZSI6InVrQHRyYWRlZG91Ymxlci5jb20iLCJjcmVhdGVkIjoxNTQ5OTc3MDE3LCJzY29wZSI6WyJyZWFkIl0sImV4cCI6MTU0OTk3NzkxNywiYXV0aG9yaXRpZXMiOlsiUk9MRV9VU0VSIl0sImp0aSI6IjA2OGU4YTllLTc4ZjUtNDdkNy1iMjU1LWU1YmZmZjExYWM4OCIsImNsaWVudF9pZCI6InRkY29ubmVjdF9wdWJsaXNoZXIifQ.cN_ose-fMtxGbVN27Yg2Sotc4zz4oLLVkyZHvCvj0zs",
          "token_type": "bearer",
          "refresh_token": "eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJ0ZHVzZXIiOiIzYWY2MDIyZDlmZjQ2NjcxNTEwOWY1OWQ2Yjc4MDI0YjI0NzA1Y2RiYzRhNDJkODkxMGNhNmZkYjBhN2RkNzE5ODJkNDdhNTQwN2FjNTQxYTAyZDczOTRmMmQxZmI5ODI1NTRhYjRjNWE2OTAyMjQ3NGEwZDczNDY5M2ZjMmEzMDgzYTI0MzBkYzI4OTU4ZDI2MmQ5OGZiOTBhYzk1Yjc3YTMyMmViOTM0NDdiMzFlMzY2YWU3ZTlmNzM0M2NmM2NhM2I5ZWVkNzQzYTc5Y2JmY2EyYzQzMmE0YWIxMGU5MTU2YzFlYzQxZTVmNzBjZmIwMzZiMDE5MmQ1ZTllYjQ5OGRmNzMzZDNlZWVmYTIxNDM4YjE2NGRhOTgyYjVjYmIxM2ZhMzgyMzY5NzlkZTllMTQwNWJhYTY0YWRjYmQzNTllZGM5NjcyZWVkY2MxN2IyMzY0MTU5ZmNkOWFmMzFhMDYyMWM2MmQwYzEyMGM0Y2YyOWFiNzAwYWRmNWYzMWI0YTNmN2M5NDgxNDE4M2UxM2YwODIwZmE0ZmFkMDM5NiIsInVzZXJfbmFtZSI6InVrQHRyYWRlZG91Ymxlci5jb20iLCJjcmVhdGVkIjoxNTQ5OTc3MDE3LCJzY29wZSI6WyJyZWFkIl0sImF0aSI6IjA2OGU4YTllLTc4ZjUtNDdkNy1iMjU1LWU1YmZmZjExYWM4OCIsImV4cCI6MTU1MDU4MTgxNywiYXV0aG9yaXRpZXMiOlsiUk9MRV9VU0VSIl0sImp0aSI6Ijc1ZDhlMjg2LTJmMDMtNDM4NS04MDhiLTkyMGUyMDZhMDdjMyIsImNsaWVudF9pZCI6InRkY29ubmVjdF9wdWJsaXNoZXIifQ.CLb7wcUqd0YnTbSwaR99KLZiYkvOj_JRuU6D-_EmIYo",
          "expires_in": 899,
          "scope": "read",
          "tduser": "3af6022d9ff466715109f59d6b78024b24705cdbc4a42d8910ca6fdb0a7dd71982d47a5407ac541a02d7394f2d1fb982554ab4c5a69022474a0d734693fc2a3083a2430dc28958d262d98fb90ac95b77a322eb93447b31e366ae7e9f7343cf3ca3b9eed743a79cbfca2c432a4ab10e9156c1ec41e5f70cfb036b0192d5e9eb498df733d3eeefa21438b164da982b5cbb13fa38236979de9e1405baa64adcbd359edc9672eedcc17b2364159fcd9af31a0621c62d0c120c4cf29ab700adf5f31b4a3f7c94814183e13f0820fa4fad0396",
          "created": 1549977017,
          "jti": "068e8a9e-78f5-47d7-b255-e5bfff11ac88"
        }
 
   
# Group Users
Users have access to Advertiser Organization and have four roles available: Owner, Admin, Write, Read. An Advertiser Organization always has one user with the role owner. This service allows the creation and management of users for the Advertiser Organization.

## My User [/usermanagement/users/me]
A User is an individual logon account connected to a Publisher organization. 

### Get My User Details [GET]

Get details related to current logged in user. This is available for any role.

+ Response 200 (application/json)

    + Attributes (object)
        + logonAccountId: 1234567 (number) - Logon ID of the user 
        + username: user123 - username for login
        + firstName: A
        + lastName: User
        + email: user@tradedoubler.com - user's email address
        + roleId: 1 (number) - Role ID of user, 1 = Owner, 2 = Admin, 3 = Member, 4 = Read-only
        + languageId: `en` - 2 Character language code of user (ISO 639-1)
        + organizationId: 1234567 (number)  - Organization ID of the Publisher the user belongs to
        + owningOrganizationId: 0 (number) - When Publisher is in a private network, the ID of the private network organization
        + countryAccess: ["GB","FR"] (array) - array of countries the user should have access to. Countries should be ISO_3166-1 Alpha-2
        + newsletter: `Y` - Y or N if the user should receive newsletters from Tradedoubler
        + typeId: 2 (number) - User type, if a publisher or advertiser. Advertiser typeId is always 2
        + personId: 123456 (number) - Person ID of the user
        + reportCurrencyCode: EUR (string) - 3 character currency code (ISO 4217)

 + Headers

            Authorization: Bearer [BearerToken]

    + Body

            {
                "logonAccountId": 12345,
                "username": "testuser",
                "firstName": "Test",
                "lastName": "User",
                "email": "test@tradedoubler.com",
                "roleId": 2,
                "organizationId": 1234567,
                "owningOrganizationId": 0,
                "languageId": "en",
                "countryAccess": ["GB","FR"],
                "newsletter": "Y",
                "typeId": 2,
                "personId": 123456,
                "reportCurrencyCode": "EUR"
            } 

### Update My User Information [PUT]

Update details related to current logged in user. This is available for any role.

+ Request (application/json)

    + Attributes (object)
        + username: user123 - username for login
        + firstName: A
        + lastName: User
        + email: user@tradedoubler.com - user's email address
        + languageId: `en` - 2 Character language code of user (ISO 639-1)
        + newsletter: Y - newsletter preferences, Y to receive, N to opt-out
        + reportCurrencyCode: EUR - 3 character currency code (ISO 4217)

    + Headers

            Authorization: Bearer [BearerToken]
    
    + Body

            {
                "username": "testuser",
                "firstName": "Test",
                "lastName": "User",
                "email": "test@tradedoubler.com",
                "languageId": "en",
                "newsletter": "Y",
                "reportCurrencyCode": "EUR"
            }

+ Response 200 (application/json)
    
        {
            "logonAccountId": 12345,
            "username": "testuser",
            "firstName": "Test",
            "lastName": "User",
            "email": "test@tradedoubler.com",
            "roleId": 2,
            "organizationId": 1234567,
            "owningOrganizationId": 0,
            "languageId": "en",
            "countryAccess": ["GB","FR"],
            "newsletter": "Y",
            "typeId": 2,
            "personId": 123456,
            "reportCurrencyCode": "EUR
        } 
        

## Users [/usermanagement/users]

### List Users [GET]
Provides a list of all users connected to the Publisher Organization. This is only available for the user with the role Owner.

+ Request (application/json)

    + Headers

            Authorization: Bearer [BearerToken]

+ Response 200 (application/json)

        [
            {
                "logonAccountId": 2389158,
                "username": "user1",
                "firstName": "Test",
                "lastName": "User",
                "email": "test@tradedoubler.com",
                "roleId": 1,
                "personId": 123456
            },
            {
                "logonAccountId": 23252,
                "username": "user2",
                "firstName": "Test",
                "lastName": "User2",
                "email": "test2@tradedoubler.com",
                "roleId": 2,
                "personId": 123457
            }
        ]

### Create a user [POST]
Create a new user for a Publisher Organization.
        
+ Request (application/json)

    + Attributes (object)
        + username: `user123` (string) - username for login
        + firstName: `A` (string)
        + lastName: `User` (string)
        + email: `user@tradedoubler.com` (string) - user's email address
        + roleId: 1 (number) - Role ID of user, 1 = Owner, 2 = Admin, 3 = Member, 4 = Read-only
        + password: `aUn1queP@ssword` (string) - user's password
        + languageId: `en` - 2 Character language code of user (ISO 639-1)
        + countryAccess: ["GB","FR"] (array) - array of countries the user should have access to. Countries should be ISO_3166-1 Alpha-2.
        + newsletter: Y (string) - Y or N if the user should receive newsletters from Tradedoubler
        + reportCurrencyCode: EUR (string) - 3 character currency code (ISO 4217)

    + Headers

            Authorization: Bearer [BearerToken]
        
    + Body
    
            {
                "username": "test3",
                "firstName": "Test",
                "lastName": "User3",
                "email": "test3@tradedoubler.com",
                "roleId": 3,
                "password": "aUn1queP@ssword",
                "languageId": "en",
                "countryAccess": ["GB","FR"],
                "newsletter": "Y",
                "reportCurrencyCode": "EUR"
            }

+ Response 200 (application/json)

        {
            "logonAcccountId": 1234568,
            "username": "test3",
            "firstName": "Test",
            "lastName": "User3",
            "email": "test3@tradedoubler.com",
            "roleId": 3,
            "organizationId": 1234567,
            "owningOrganizationId": 0,
            "languageId": "en",
            "countryAccess": ["GB","FR"],
            "newsletter": "Y",
            "typeId": 2,
            "personId": 123456,
            "reportCurrencyCode": "EUR"
        }

## User By Id [/usermanagement/users/{logonAccountId}]

### Get a specific User [GET]
Provides information for a specific user based on their logonAcccountId. This is only available for the user with the role Owner.

+ Request (application/json)

    + Headers

            Authorization: Bearer [BearerToken]

    + Attributes (object)
        + logonAccountId: 1234567 (number) - Logon ID of the user 
        + username: user123 - username for login
        + firstName: A
        + lastName: User
        + email: user@tradedoubler.com - user's email address
        + roleId: 1 (number) - Role ID of user, 1 = Owner, 2 = Admin, 3 = Member, 4 = Read-only
        + languageId: `en` - 2 Character language code of user (ISO 639-1)
        + organizationId: 1234567 (number)  - Organization ID of the Publisher the user belongs to
        + owningOrganizationId: 0 (number) - When Publisher is in a private network, the ID of the private network organization
        + countryAccess: ["GB","FR"] (array) - array of countries the user should have access to. Countries should be ISO_3166-1 Alpha-2
        + newsletter: `Y` - Y or N if the user should receive newsletters from Tradedoubler
        + typeId: 2 (number) - User type, if a publisher or advertiser. Advertiser typeId is always 2
        + personId: 123456 (number) - Person ID of the user
        + reportCurrencyCode: EUR (string) - 3 character currency code (ISO 4217)

+ Response 200 (application/json)

        {
            "logonAcccountId": 1234567,
            "username": "test",
            "firstName": "Test",
            "lastName": "User",
            "email": "test@tradedoubler.com",
            "roleId": 1,
            "organizationId": 1234567,
            "owningOrganizationId": 0,
            "languageId": "en"
            "countryAccess": ["GB","FR"],
            "newsletter": "Y",
            "typeId": 2,
            "personId": 123456,
            "reportCurrencyCode": "EUR"
        }  

### Update a user [PUT]
Update information for a specific user based on their logonAcccountId. This is only available for the user with the role Owner.

+ Request (application/json)

    + Attributes (object)
        + username: user123 - username for login
        + firstName: A
        + lastName: User
        + email: user@tradedoubler.com - user's email address
        + roleId: 1 (number) - Role ID of user, 1 = Owner, 2 = Admin, 3 = Member, 4 = Read-only
        + languageId: `en` - 2 Character language code of user (ISO 639-1)
        + countryAccess: ["GB","FR"] (array) - array of countries the user should have access to. Countries should be ISO_3166-1 Alpha-2
        + newsletter: `Y` - Y or N if the user should receive newsletters from Tradedoubler
        + reportCurrencyCode: EUR (string) - 3 character currency code (ISO 4217)

    + Headers

            Authorization: Bearer [BearerToken]

    + Body

            {
                "username": "test_change",
                "firstName": "Test",
                "lastName": "User",
                "email": "test3@tradedoubler.com",
                "roleId": 2,
                "languageId": "en",
                "countryAccess": ["GB","FR"],
                "newsletter": "Y",
                "reportCurrencyCode": "EUR"
            }

+ Response 200 (application/json)

        {
            "logonAcccountId": 1234567,
            "username": "test_change",
            "firstName": "Test",
            "lastName": "User",
            "email": "test@tradedoubler.com",
            "roleId": 2,
            "organizationId": 1234567,
            "owningOrganizationId": 0,
            "languageId": "en",
            "countryAccess": ["GB","FR"],
            "newsletter": "Y",
            "typeId": 2,
            "personId": 123456,
            "reportCurrencyCode": "EUR"
        }

### Delete a user [DELETE]
Delete a user a specific user based on their logonAcccountId, this will remove their access to login or access any Publisher Organization information. This is only available for the user with the role Owner.

+ Response 200 (application/json)
    
        {
            "response": "User successfully deleted"
        }

## Group Password 

## Change Password [PUT /usermanagement/users/me/password]
Change the password of logged in user
+ Request (application/json)

    + Headers

            Authorization: Bearer [BearerToken]   
            
    + Body
            
        {
            "currentPassword": "0!dP@ssword",
            "newPassword": "N3wP@ssword"
        }

+ Response 200 (application/json)
    
        {
            "response": "Password successfully changed"
        }

# Group Ads

## List All Ads in a program [/advertiser/ads]

### Ads [GET]
You can view a list of available ads on a specific program
+ Parameters
    + programId: 123456 (long) - Filter available ads for specific programs
    + adType: 1 (enum(integer), optional) - Filter available ads based on the type
        + Members
            + `1` - Text
            + `4` - Image
            + `6` - HTML
    + adSize: 300x250 (string, optional) - Filter available ads based on the Size. This is a free text search, to search for width use "300x" and for height only "x250"
    + adName: DefaultAd (string, optional) - Filter available ads based on the Name
    + adId: 12345678 (long, optional) - Filter for a specific ad
    + includeExpired: true (boolean, optional) - Where to include expired ads (default value: false)
    + sortBy: lastUpdated (string, optional)
        + Members
            + `lastUpdated`
            + `createdDate`
            + `adName`
            + `adType`
            + `adSize`
    + sortOrder: asc (string, optional)
        + Members
            + `asc`
            + `desc`
    + offset: 0 (integer, optional)
        + Default: 0
    + limit: 20 (integer, optional)
        + Default: 20

+ Request

    + Headers

            Authorization: Bearer [BearerToken]

+ Response 200 (application/json)
    + Attributes (object)
        + programId: 123456 (number) - Id of the program
        + programName: A Program - Name of the program
        + adId: 12345678 (number) - Id of the Ad
        + adName: DefaultAd - Name of the ad
        + adSize: 300x250 - Size of the Ad
        + programCategories: [1,2,4] (array) - Array of program category Ids
        + lastUpdate: 2020-01-17T23:00:00.000+0200 (date) - Date and time the ad was last updated
        + createdDate: 2020-01-01T12:00:00.000+0200 (date) - Date and time the ad was created
        + adType: 4 (number) - Type of ad.  1 = text, 4 = image, 6 = html
        + url: http://test.tradedoubler.com/file/30539/18.01.17_logo/selection-100x100.jpg - url where the ad is hosted if an image
        + productUrl: http://www.tradedoubler.com - url the ad redirects to, applies to image and text ads
        + customHtml: <html>...</html> - html code for HTML ads
        + text: This is an ad - Text for text ads
        + segments: [{"id":"1","name":"general"}] (array) - array of all segments with access to the ad

    + Body
        [
            {
               "total": 2,
               "offset": 0,
               "limit": 20,
               "items": [
                  {
                      "programId": 318210,
                      "programName": "Test GB",
                      "adId": 23709816,
                      "adName": "Logo_Test_selection",
                      "adSize": "100x100",
                      "programCategories": [9, 11, 12],
                      "lastUpdate": "2017-01-18T15:49:27.000+0000",
                      "createdDate": "2017-01-17T23:00:00.000+0000",
                      "adType": 4,
                      "url": "http://test.tradedoubler.com/file/30539/18.01.17_logo/selection-100x100.jpg",
                      "productUrl": null,
                      "customHtml": " ",
                      "text": null
                  },
                  {
                      "programId": 318210,
                      "programName": "Test GB",
                      "adId": 24312236,
                      "adName": "advance saver offer_468x60",
                      "adSize": "468x60",
                      "programCategories": [9, 11, 12],
                      "lastUpdate": "2018-06-13T06:48:45.000+0000",
                      "createdDate": "2018-06-12T22:00:00.000+0000",
                      "adType": 1,
                      "url": "http://",
                      "productUrl": "https://www.test.com/gb/promotions-offers/early-booking-offers/ALL-ALL",
                      "customHtml": " ",
                      "text": "landing page generic "
                  }
               ]
            }
        ]

### Create AD [POST]
You can create a text, image or HTML ad programmatically through the API
+ Request (application/json)

        {
         "name": "test ad1",
         "programId": 123456,
         "startDate": "20190101",
         "endDate": "20191231",
         "adType": 4,
         "imageUrl": "https://www.tradedoubler.com/image.jpg",
         "productUrl": "https://www.tradedoubler.com",
         "adSize": "120x120",
         "segmentId":["3"]
        }

+ Response 200 (application/json)

        {
          "adId": 12345678,
          "adName": "test ad1",
          "programId": 123456,
          "programName": "A Test Program",
          "startDate": "2019-01-01T00:00:00.000+0200",
          "endDate": "2019-12-31T23:59:59.000+0200",
          "lastUpdate": "2019-01-01T09:00:09.000+0200",
          "deleted": "N",
          "adType": 4,
          "adTypeName": "Image",
          "imageUrl": "https://www.tradedoubler.com/image.jpg",
          "productUrl": "https://www.tradedoubler.com",
          "adSize": "120x120",
          "segments": [
            "id": "1",
            "name":"General"
          ]
          
        }

## List an Ad by ID [/advertiser/ads/{adId}]

### Ad [GET]
You can view more details on a specific ad. This is also useful if you want to update an existing ad.
+ Parameters
    + adId: 12345678 (path)
    
+ Response 200 (application/json)

        {
          "programId": 318210,
          "programName": "Test GB",
          "adId": 23709816,
          "adName": "Logo_Test_selection",
          "adSize": "100x100",
          "lastUpdate": "2017-01-18T15:49:27.000+0000",
          "deleted": "N",
          "adType": 4,
          "adTypeName": "Image",
          "imageUrl": "https://www.tradedoubler.com/image.jpg",
          "productUrl": "https://www.tradedoubler.com",
          "segments": [
            "id": "1",
            "name":"General"
          ]
        }


### Update Ad [PUT]
Update an existing ad
+ Parameters
    + adId: 12345678 (path)
    
+ Request (application/json)

        {
            "name": "test ad1",
            "startDate": "20190101",
            "endDate": "20191231",
            "adType": 4,
            "imageUrl": "https://www.tradedoubler.com/image.jpg",
            "productUrl": "https://www.tradedoubler.com",
            "size": "120x120",
            "segmentId": ["1"]
        }

+ Response 200 (application/json)

        {
          "adId": 12345678,
          "adName": "test ad1",
          "programId": 123456,
          "programName": "A Test Program",
          "startDate": "2019-01-01T00:00:00.000+0200",
          "endDate": "2019-12-31T23:59:59.000+0200",
          "lastUpdate": "2019-01-01T09:00:09.000+0200",
          "deleted": "N",
          "adType": "4",
          "adTypeName": "Image",
          "productUrl": "https://www.tradedoubler.com",
          "imageUrl": "https://www.tradedoubler.com",
          "adSize": "120x120",
          "segments": [
            "id": "1",
            "name":"General"
          ]
        }

# Group Programs

## Programs [/advertiser/programs]

### List all Programs [GET]
You can view a list of available programs for your organization
+ Parameters
    + active: true (boolean, optional) - Filter by the active status of program
    + paused: true (boolean, optional) - Filter by the paused status of the program
    + countryCode: `SE` (string, optional) - Filter programs on a specific country - ISO (add countrycode)
    + name: `A Program` (string, optional) - Filter on the name of the program.
    + categoryIds: 11,13,16 (string, optional) - Filter based on program categories
        + Members
            + `1: Gaming`
            + `2: Finance`
            + `3: Educations & Careers`
            + `4: Insurance`
            + `5: Health & Beauty`
            + `6: Social & Dating`
            + `7: Fashion`
            + `8: Telecoms & Utilities`
            + `9: Sports & Recreation`
            + `10: Computers & Electronics`
            + `11: Travel`
            + `12: Business To Business`
            + `13: Media & Entertainment`
            + `14: Home & Garden`
            + `15: Non Profit Organizations`
            + `16: Shopping & Retail`
            + `17: Food & Drink`
            + `18: Alcohol & Tobacco`
            + `19: Automotive`
    + sortBy: id (string, optional)
        + Members
            + `id`
            + `name`            
    + sortOrder: asc (string, optional)
        + Members
            + `asc`
            + `desc`
    + offset: 0 (integer, optional)
        + Default: 0
    + limit: 20 (integer, optional)
        + Default: 20

+ Response 200 (application/json)

    + Attributes (object)
        + id: 123456 - unique Id for the program
        + countryCode: GB - country code of the program
        + closedProgram: true - if the program is a closed program, then it is invite only, publishers can not apply via the interface
        + active: true - if the program is currently active
        + paused: false - if the program is in a paused state then no statistics will show until it is unpaused. Contact your Tradedoubler Account Manager to request a program is no longer paused.
        + createdDate: 2009-08-21 - the date the program was created
        + startDate: 2009-08-21 - the date the programw went live
        + name: ATestProgram - the name of the program
        + logoUrl: https://www.logo.com - the url for the program's logo
        + prepayment: false - if the program is prepayment then the advertiser is invoiced in advance, this allows publishers to be paid much quicker. Otherwise advertisers are invoiced on a monthly basis.
        + deepLinking: true - if the program allows publishers to deeplink to product pages
        + categoryIds: [1,2] - The Ids of categories the program has been mapped to. See parameters for more information
        + keywordPolicyId: 0 - The keyword policy rule for the program. 0=no keyword policy, 1 = Open policy, 2 = Restricted, 3 = Closed.
        + implementationTypeId: 3 - The type of tracking setup for the program. 1 = Click tracking program only, 2 = on-site conversion tracking, 3rd party setup, 3 = on-site conversion tracking, 1st party setup, 4 offline tracking, 3rd party setup, 5 = offline conversion tracking, 1st party setup, 6-Unknown.
        + currencyCode: GBP - the currency the program is set to track in
        + sourceStatus: (object) - object containing a summary of accepted affiliates and affiliates that have applied and require approval.

    + body

            {
            "offset": 0,
            "limit": 20,
            "total": 1,
            "items": [
                {
                    "id": 123456,
                    "countryCode": "GB",
                    "closedProgram": true,
                    "active": false,
                    "paused": false,
                    "createdDate": "2009-08-21",
                    "startDate": "2009-08-21",
                    "endDate": null,
                    "name": "ATestProgram",
                    "logoUrl": "https://www.logo.com",
                    "prepayment": false,
                    "deepLinking": true,
                    "categoryIds": [
                        2,
                        3
                    ],
                    "keywordPolicyId": 0,
                    "implementationTypeId": 3,
                    "currencyCode": "GBP",
                    "sourceStatus": {
                        "accepted": 0,
                        "underConsideration": 0
                    }
                }
            ]
        }

### Program Information [GET /advertiser/programs/{programId}]
You can view a specific program from your organization
+ Parameters
    + programId: 123456 (path)


+ Response 200 (application/json)

    + Attributes (object)
        + id: 123456 - unique Id for the program
        + name: ATestProgram - the name of the program
        + active: true - if the program is currently active
        + closedProgram: true - if the program is a closed program, then it is invite only, publishers can not apply via the interface
        + currencyCode: GBP - the currency the program is set to track in
        + countryCode: GB - country code of the program
        + homePageUrl: https://www.tradedoubler.com - the home page of the program
        + logoUrl: http://www.tradedoubler.com/logo.jpg - the url for the program's logo
        + uniqueClickTime: 0.5 - the time in hours since the last click before a click is counted as unique
        + cookieWindow: 30 - the time in days for sales to be allowed. The time in days between last click and sale.
        + autoConnect: false - automatically connects affiliates that have the feature enabled
        + impressionTracking: true - if impression tracking is enabled, if no click has been found
        + voucherTracking: true - if TradedoublerTradedouber voucher is enabled
        + mobileTracking: true - if the program has tracking on a mobile friendly site
        + categoriess: (object) - the categories the program has been mapped to.
        + implementationTypeId: 3 - the type of tracking setup for the program. 1 = Click tracking program only, 2 = on-site conversion tracking, 3rd party setup, 3 = on-site conversion tracking, 1st party setup, 4 offline tracking, 3rd party setup, 5 = offline conversion tracking, 1st party setup, 6-Unknown.
        + startDate: 2009-08-21 - the date the programw went live
        + endDate: null - if the program has ended, the date it ended.
        + persons: (object) - the relevant users for the program
        + smb: false - whether the program is a Tradedoubler Grow program
        + deepLinking: true - if the program allows publishers to deeplink to product pages

    + body
    
            {
                "id": 123456,
                "name": "ATestProgram",
                "active": true,
                "closedProgram": true,
                "currencyCode": "GBP",
                "countryCode": "GB",
                "homePageUrl": "https://www.tradedoubler.com",
                "logoUrl": "http://www.tradedoubler.com/logo.jpg",
                "uniqueClickTime": 0.5,
                "cookieWindow": 30,
                "autoConnect": false,
                "impressionTracking": true,
                "voucherTracking": true,
                "mobileTracking": true,
                "categories": [
                    {
                        "categoryId": 2,
                        "categoryName": "Finance"
                    }
                ],
                "startDate": "2020-08-21",
                "endDate": null,
                "persons": {
                    "adminPersonId": 1410413,
                    "adminPersonName": "A User",
                    "techPersonId": 1410413,
                    "techPersonName": "A User"
                },
                "programTypeId": 1,
                "smb": false,
                "deepLinking": true
            }
            
### Advanced Program Information [GET /advertiser/programs/{programId}/advanced]
You can view advanced information on a specific program from your organization
+ Parameters
    + programId: 123456 (path)


+ Response 200 (application/json)

    + Attributes (object)
        + id: 123456 - unique Id for the program
        + name: ATestProgram - the name of the program
        + exclusiveVoucher: true - if the sales from exclusive vouchers should be re-allocated to the affiliate granted the exclusive code
        + redirectUrl: "https://redir.tradedoubler.com/redirects" - URL to redirect users to when clicking on a program link. Usually used for third party trackers like DoubleClick or Advertiser's own redirect scripts
        + directLink: false - if redirects should be used or the program direct links to a landing page
        + uniqueClickTime: 12 - the time in hours since the last impression before an impression is counted as unique
        + impressionWindow: 4 - the time in days for iSales to be allowed. The time in days between last impression and sale.
        + timeZoneId: 15 - ID for the time zone, see time zone endpoint for all available time zones
        + timeZone: UTC +1 - The time zone the program is set
        + allowedDomains: https://*.tradedoubler.com - the domains affiliates can link to for the program. If the domain is not valid the homePageUrl is used instead
        + plt: 1 - If the program uses Product Level Tracking. 1 = NO ; 2 = HYBRID, both PLT and normal events can be used; 3 = YES, PLT only.
        + autoApprove: (object) - if the program auto approves affiliate applications and after how many days
        + encodeUrl: true - if the deeplink/landing page should be url encoded before being added to a redirect URL
        + firstPartyTracking:  true - if the Tradedoubler's cookie ID, tduid, should be added to the deeplink/landing page to enable first party tracking.
        
            {
                "id": 123456,
                "name": "ATestProgram",
                "exclusiveVoucher": true,
                "redirectUrl": "https://redir.tradedoubler.com/redirects",
                "directLink": false,
                "uniqueImpressions": 12,
                "ImpressionWindow": 4,
                "timeZoneId": 15,
                "timeZone": "UTC +1",
                "allowedDomains": "https://*.tradedoubler.com,https://www.tradedoubler.*",
                "plt": 1,
                "autoApprove": {
                    "action": "A",
                    "days": 30
                },
                "encodeUrl": true,
                "firstPartyTracking": true
            }
         

### Program Texts [GET /advertiser/programs/{programId}/texts]
You can view texts that relate to your programs such as program description, short description etc...
+ Parameters
    + programId: 123456 (path)


+ Response 200 (application/json)


            {
                "programId": 123456,
                "programName": "Test Account",
                "texts": [
                    {
                        "languageCode": "en",
                        "textTypeId": 2,
                        "textTypeName": "Second",
                        "text": "This the long description for a program"
                    },
                    {
                        "languageCode": "en",
                        "textTypeId": 3,
                        "textTypeName": "Short",
                        "text": "This is the short description for a program"
                    },
                    {
                        "languageCode": "en",
                        "textTypeId": 46,
                        "textTypeName": "Restricted keyword policy info",
                        "text": "This is the keyword policy for a program"
                    }
                ]
            }

### Program Timezones [GET]
You can view all available timeZones and the corresponding IDs 

+ Response 200 (application/json)


            [            
                {
                    "id": 1,
                    "countryCode": "GB",
                    "timeZone": "UTC+0"
                },
                {
                    "id": 2,
                    "countryCode": "IE",
                    "timeZone": "UTC+0"
                }
            ]

### End Program [DELETE /advertiser/programs/{programId}]
Standardised way to end a program. If a program has received no traffic then program is ended immediately. If program has traffic, it is set to end in 30 days to give publishers time to redirect their traffic.
+  Parameters
    + programId: 123456 (path)
    + td_mainclosurereason: 899140000 (number)
        + Members
            + `899140000: Bankruptcy / Administration`
            + `899140001: Client Constraints / Commitment`
            + `899140002: Complexity of TD Systems`
            + `899140003: Dedicated Account Manager`
            + `899140004: Financial / Budget Reasons`
            + `899140005: Fraud / Brand Bidders`
            + `899140006: Inhouse PVN / Solution`
            + `899140021: Internal Account`
            + `899140007: Lack of Local Presence`
            + `899140008: Network Consolidation`
            + `899140009: Performance / Client Engagement`
            + `899140010: Performance / Potential`
            + `899140011: Sales & Contracts`
            + `899140012: Service & / Fee Expectations`
            + `899140013: Service Quality`
            + `899140014: Stopping Affiliation`
            + `899140015: Stopping Online Activities`
            + `899140016: TD Closed (Debt)`
            + `899140017: TD Closed (Other)`
            + `899140018: Tracking Issues`
            + `899140020: Test/Error`
            + `899140019: Other / Unknown`
            
    + td_secondaryClosureReason: 899140000 (number, optional)
        + Members
            + `899140000: Bankruptcy / Administration`
            + `899140001: Client Constraints / Commitment`
            + `899140002: Complexity of TD Systems`
            + `899140003: Dedicated Account Manager`
            + `899140004: Financial / Budget Reasons`
            + `899140005: Fraud / Brand Bidders`
            + `899140006: Inhouse PVN / Solution`
            + `899140021: Internal Account`
            + `899140007: Lack of Local Presence`
            + `899140008: Network Consolidation`
            + `899140009: Performance / Client Engagement`
            + `899140010: Performance / Potential`
            + `899140011: Sales & Contracts`
            + `899140012: Service & / Fee Expectations`
            + `899140013: Service Quality`
            + `899140014: Stopping Affiliation`
            + `899140015: Stopping Online Activities`
            + `899140016: TD Closed (Debt)`
            + `899140017: TD Closed (Other)`
            + `899140018: Tracking Issues`
            + `899140020: Test/Error`
            + `899140019: Other / Unknown`
    
    
+ Response 200 (application/json)
    {
        "message": "Program is closed"
    }

## Sources [/advertiser/programs/{programId}/sources]
Manage sources connected to your programs. You can view applications, accepted sources as well as their category and ranking.

### List Sources [GET]
You can view more details on a specific ad. This is also useful if you want to update an existing ad.
+ Parameters
    + programId: 123456 (path)
    + segmentId: 1 (string, optional) - Filter sources within a specific segment, comma seperated for multiple segments
    + statusId: 1 (string, optional) - The connection status of the program and source i.e. 1 is under consideration. Comma seperated for multiple statuses
    + sourceId: 1234567 (integer, optional) - Filter by source
    + rank: 0 (integer, optional) - Filter by rank
    + sortBy: lastChanged (string, optional)
        + Members
            + `segmentId`
            + `segmentName`
            + `statusId`
            + `created`
            + `lastChanged`
    + sortOrder: asc (string, optional)
        + Members
            + `asc`
            + `desc`
    + offset: 0 (integer, optional)
        + Default: 0
    + limit: 20 (integer, optional)
        + Default: 20
    
+ Response 200 (application/json)

        {
            "offset": 0,
            "limit": 20,
            "total": 2,
            "items": [
                {
                    "sourceId": 1234567,
                    "sourceName": "A Source",
                    "statusId": 1,
                    "statusName": "Under consideration",
                    "segmentId": 1,
                    "segmentName": "General",
                    "created": "2019-05-14T19:22:05.000+0200",
                    "lastChanged": "2019-05-14T19:22:05.000+0200",
                    "rank": 0,
                    "categoryId": 1234,
                    "categoryName": "Network - Blind"
                },
                {
                    "sourceId": 1234568,
                    "sourceName": "Another Source",
                    "sourceUrl": "https://www.source.com",
                    "promotionTypeId": 1,
                    "promotionTypeName": "Search",
                    "statusId": 3,
                    "statusName": "Accepted",
                    "segmentId": 1,
                    "segmentName": "General",
                    "created": "2019-05-14T01:31:38.000+0200",
                    "lastChanged": "2019-05-14T01:31:38.000+0200",
                    "rank": 0,
                    "categoryId": 1234,
                    "categoryName": "Network - Blind"
                }
            ]
        }


### Update Source [PUT]
Update the source's connection to a program
+ Parameters
    + programId: 123456 (path)
    
+ Request (application/json)

       {
            "items": [
                {
                    "sourceId": 2543212,
                    "statusId": 6,
                    "segmentId": 1,
                    "categoryId": 1234,
                    "rank": 0
                },
                {
                    "sourceId": 2543213,
                    "statusId": 3,
                    "segmentId": 10,
                    "categoryId": 1234,                  
                    "rank": 0
                }
            ]
        }

+ Response 200 (application/json)

        {
            total: 2,
            success: 1,
            successItems:[
                {
                    "sourceId": 2543212,
                    "statusId": 6,
                    "segmentId": 1
                }
            ],
            fail: 1,
            failItems:[
                {
                    "sourceId": 2543213,
                    "statusId": 3,
                    "segmentId": 10,
                    "reason": "segment not found"
                }
            ]
        }

## Commissions [/advertiser/programs/{programId}/commissions]
Commissions are the fees paid to your publishers for generating traffic and/or sales to your programs. A commission is created for an event (a click, lead or sale) and created for programs. To setup different commission levels you assign commissions against a segment (which is used to group sources)

### List commissions [GET]
A list of commissions for a specific program. You can filter by status - active commissions, past or future - or view commissions for specific segments.

+ Parameters
    + programId: 123456 (path)
    + segmentIds: 1,2 (string, optional) - Filter commissions for specific segments. Mutiple ids should be comma seperated
    + status: active, future (string, optional) - filter on the status of the commission, multiple values should be comma seperated
        + Members
            + `active`
            + `future`
            + `historic`
    startDate: 20200101 (string, optional) - filter if the commission is active after the start date. (ISO-8601 YYYYMMDD)
    endDate: 20200201 (string, optional) - filter if the commission is active or does not stop before the end date. (ISO-8601 YYYYMMDD)
    + sortBy: segmentId (string, optional)
        + Members
            + `segmentId`
            + `segmentName`
            + `startDate`
            + `endDate`
    + sortOrder: asc (string, optional)
        + Members
            + `asc`
            + `desc`
    + offset: 0 (integer, optional)
        + Default: 0
    + limit: 20 (integer, optional)
        + Default: 20

+ Request

    + Headers

            Authorization: Bearer [BearerToken]

+ Response 200 (application/json)

        {
            "offset": 0,
            "limit": 20,
            "total": 2,
            "items": [
                {
                    "programId": 298444,
                    "programName": "UKAutomationprogramus",
                    "segmentCommissions": [
                        {
                            "segmentId": 1,
                            "segmentName": "General",
                            "eventId": 5,
                            "eventName": "Sale",
                            "eventType": "Sales",
                            "eventRule": "Terminate",
                            "startDate": "2019-04-24T00:00:00.000+0200",
                            "endDate": null,
                            "publisherCommission": 0.0,
                            "publisherCommissionPercent": 0.0,
                            "virtualCommission": 0.0,
                            "virtualCommissionPercent": 0.0
                        },
                        {
                            "segmentId": 1,
                            "segmentName": "General",
                            "eventId": 2,
                            "eventName": "Unique visitor",
                            "eventType": "Unique visitors",
                            "eventRule": "Start",
                            "startDate": "2019-04-19T00:00:00.000+0200",
                            "endDate": null,
                            "publisherCommission": 0.0,
                            "publisherCommissionPercent": 0.0,
                            "virtualCommission": 0.0,
                            "virtualCommissionPercent": 0.0
                        }
                    ]
                }
            ]
        }

### Change commission [POST]
All changes to commissions are a post request as we create a new commission in our system.

+ Request

    + Headers

            Authorization: Bearer [BearerToken]
    
    + Body
            
            {
                
              "segmentId":3,
              "eventId":4,
              "startDate": "20200101",
              "endDate": null,
              "publisherCommission": 2,
              "publisherCommissionPercent": null,
              "virtualCommission": null,
              "virtualCommissionPercent": null

            }

+ Response 200 (application/json)
    
        {
            "segmentId": 3,
            "segmentName": "Test",
            "eventId": 4,
            "eventName": null,
            "eventType": "Leads",
            "eventRule": "Continue",
            "startDate": "2020-01-01T00:00:00.000+0100",
            "endDate": null,
            "publisherCommission": 2,
            "publisherCommissionPercent": 2,
            "virtualCommission": 0,
            "virtualCommissionPercent": 0
        }

## Segments [/advertiser/programs/{programId}/segments]
Segments are used to group sources for each program. By using segments you can easily setup different commission levels on your programs and manage your sources more easily.

### Segments [GET]
A list of segments created for a specific program.

+ Parameters
    + programId: 123456 (path)
    + deleted: false (boolean, optional) - Include segments that have been deleted. (@Nick Check if it true it is deleted and not)
    + sortBy: id (string, optional)
        + Members
            + `id`
            + `name`            
    + sortOrder: asc (string, optional)
        + Members
            + `asc`
            + `desc`
    + offset: 0 (integer, optional)
        + Default: 0
    + limit: 20 (integer, optional)
        + Default: 20

+ Response 200 (application/json)

        {
            "offset": 0,
            "limit": 20,
            "total": 2,
            "items": [
                {
                    "id": 1,
                    "name": "General",
                    "ConnectedSources": {
                        "statusId": 3,
                        "sourceCount": 10
                    }
                },
                {
                    "id": 2,
                    "name": "Cashback - gold",
                    "connectedSources": {
                        "statusId": 2,
                        "sourceCount": 4
                    }
                }
            ]   
        }


#Group Pending Sales
## Pending Sales [/advertiser/pendingSales]
In Tradedoubler transactions can be given a pending status whereby an advertiser has a set amount of time to validate a pending sale (usually up to 90 days) and approve/deny the transaction. This is usually to allow for an advertiser's returns or cancellation policy. Being able to approve a transaction in Tradedoubler as soon as it is confirmed in an advertiser's system provides greater transparency to your publishers around when they will be paid for their activities.

### List pending transactions [GET]
Get a list of all your transactions (leads and sales) and see the time until they will automatically validate

+ Parameters
    + programIds: 123456,232156 (string, optional) - Filter pending transactions for specific programs. Mutiple ids should be comma seperated
    + startDate: 20190101 (date, optional) - filter if the commission is active after the start date. (ISO-8601 YYYYMMDD)
    + endDate: 20200101 (date, optional) - filter if the commission is active or does not stop before the end date. (ISO-8601 YYYYMMDD)  
    + sortBy: pendingTime (string, optional)
        + Members
            + `pendingTime`
            + `timestamp`
            + `transactionId`            
    + sortOrder: asc (string, optional)
        + Members
            + `asc`
            + `desc`
    + offset: 0 (integer, optional)
        + Default: 0
    + limit: 20 (integer, optional)
        + Default: 20

+ Response 200 (application/json)

        {
            offset: 10,
            limit: 20,
            total: 3245,
            items:[
                    {
                    "programId": 123456,
                    "programName": "A Program",
                    "countryCode": true,
                    "eventId": 55,
                    "eventName": "Basket Sale",
                    "eventType": "SALES",
                    "rxNumber": "99243493231206",
                    "transactionId": "12345678912345",
                    "timestamp": 1567515846997,
                    "pendingTime": 32,
                    "pendingRule": "AUTO_APPROVE",
                    "sourceId": 1234567,
                    "sourceName": "A Source",
                    "currencyCode": "GBP",
                    "orderValue": 15.2,
                    "publisherCommission": 1.3
                    }
                ]
        }

### Validate transactions [PUT]
Validate transactions by changing the status to approved or denied. For transactions that are denied we require a reasonId to give the publisher greater transparency as to why the transaction was denied. (@Nick add reason codes). It is possible to modify the order value for a transactions to reflect a partial return/cancellation, this can also be done without updating the transaction status - i.e. the transaction will remain in a pending state.
+ Request (application/json)

    + Headers

            Authorization: Bearer [BearerToken]

    + Attributes (object)
        + transactionId: 123456 (number) - Id of the transaction
        + action: Approve (string) - Action to apply to the transaction i.e. approve, deny or update
            + Members
                + Approve
                + Update
                + Deny
        + reason: 6 (enum) - When denying a transaction, you must supply a reason
            + 6 - Application/Credit Check Denied
            + 7 - Fraudulent Order/Application
            + 8 - Duplication / Sale Accredited to Another Source
            + 9 - Order Yet To Be Fulfilled
            + 10 - Returned goods
            + 13 - Invalid Lead
            + 14 - Order Cancelled
            + 16 - Insuffient Information (Applicable only for untracked sales)
            + 17 - Order not found (Applicable only for untracked sales)
            + 18 - Sale Already Accredited to Publisher (Applicable only for untracked sales)
            + 19 - Voucher incorrectly used
        + amount: 0.99 (number, optional) - When updating a transaction, the new order value i.e. for partial returns
        + currencyCode: EUR (string, optional) - When updating a transaction, the currency for the new order value

    + Body
    
        {
            "items": [
                {
                    "transactionId": "12345678912345",
                    "action": "approve",
                },
                {
                    "transactionId": "12345678912346",
                    "action": "deny",
                    "reason": 10,
                },
            ]
        }

+ Response 200 (application/json)

        {
            total: 2,
            success: 1,
            fail: 1,
            items:[
                    {
                    "transactionId": "12345678912345",
                    "action": "approve",
                    "status": 0
                    },
                    {
                        "transactionId": "12345678912346",
                        "action": "deny",
                        "reason": 10
                        "status": -1,
                        "error" : {
                                "code": 9996,
                                "message": "Order is not in pending status"
                            }
                    }
                ]
        }

#Group Categories
## Custom Categories [/advertiser/sources/categories]
Advertisers can create their own categories which can be applied to any of their sources. They can used as filters when managing sources or for reporting.

### List Categories [GET]
Get categories created for an advertiser to use for sources

+ Parameters
    + categoryName: `A category` (string, optional) - Free text search on category name
    + categoryId: 1 (integer, optional) - Filter by the category id
    + sortBy: categoryId (string, optional)
        + Members
            + `categoryId`
            + `categoryName`            
    + sortOrder: asc (string, optional)
        + Members
            + `asc`
            + `desc`
    + offset: 0 (integer, optional)
        + Default: 0
    + limit: 20 (integer, optional)
        + Default: 20

+ Response 200 (application/json)

        {
            "offset": 0,
            "limit": 20,
            "total": 5,
            "items": [
                {
                    "categoryName": "Content - Travel",
                    "categoryId": 1
                },
                {
                    "categoryName": "Content - Shopping",
                    "categoryId": 2
                },
                {
                    "categoryName": "Content - Blog",
                    "categoryId": 3
                },
                {
                    "categoryName": "Content - Directory/Portal",
                    "categoryId": 4
                },
                {
                    "categoryName": "Content",
                    "categoryId": 5
                }
            ]
        }

### Update a Category [PUT]
Update a category name

+ Parameters
    + categoryId: 1234 (path)

+ Request (application/json)

        {
            "categoryName": "A New Category"
        }

+ Response 200 (application/json)

        {
            "categoryId": 1234,
            "categoryName": "A New Category" 
        }

### Create a new Category [POST]
Create a new custom category

+ Request (application/json)

        {
            "categoryName": "A New Category"
        }

+ Response 200 (application/json)

        {
            "categoryId": "1234",
            "categoryName": "A New Category"
        }

#Group Invoices
## Invoices [/advertiser/invoices]
View invoices and their status and get copies of your invoice.

### List Invoices [GET]
List of invoices
+ Parameters
    + invoiceNumber: `UK1000000` (string, optional) - Invoice number
    + invoiceStatus: 1 (integer, optional) - Status of the invoice @Nick to add options
    + programId: 123456 (integer, optional) - Filter invoices that relate to a program
    + fromDate: `20190101` (date,optional) - Include invoices from a date
    + toDate: `20190201` (date,optional) - Include invoices up to a date

+ Response 200 (application/octet-stream)

        [
            
        ]
## Invoice Download [/advertiser/invoices/{invoiceNumber}/pdf]
### Download an Invoice [GET]
Download a PDF of your invoice
+ Parameters
    + invoiceNumber: `UK1000000` (path) - Invoice number
    
+ Response 200 (application/octet-stream)


#Group Events
## Advertiser Custom Events [/advertiser/events]
Custom events are a flexible way of tracking which products, categories or services converted. This provides better reporting insight and the ability to set different commissions for different events in order to maintain margin control. Each event can have a different pending period to reflect the different returns/cancellation policies based on the type of product or service. 

### List Events [GET]
Get custom events created for an advertiser

+ Parameters
    + eventTypeId: 5 (integer, optional) - Filters on eventType - leads or Sales
        + Members
            + 4 - leads
            + 5 - Sales
    + pending: true (boolean, optional) - Filters on if the event has a pending period
    + ruleId: 1 (integer, optional) - Filters on the events rule.
        + Members
            + 4 - Recurring
            + 2 - Continue
            + 3 - Terminate
    + sortBy: id (string, optional)
        + Members
            + `id`
            + `name`            
    + sortOrder: asc (string, optional)
        + Members
            + `asc`
            + `desc`
    + offset: 0 (integer, optional)
        + Default: 0
    + limit: 20 (integer, optional)
        + Default: 20

+ Response 200 (application/json)

        {
            "offset": 0,
            "limit": 20,
            "total": 1,
            "items": [
                {
                    "id": 66564,
                    "name": "A Lead",
                    "eventTypeId": 4,
                    "eventTypeName": "Leads",
                    "ruleId": 4,
                    "ruleName": "Recurring",
                    "pending": false,
                    "daysToAutoApprove": 0,
                    "daysToAutoDeny": 0,
                    "referencingImpressionEventId": 66563
                }
            ]
        }

### Create an Event [POST]
Create a new event for your programs.

+ Request (application/json)

         {            
            "name": "A Sale",
            "eventTypeId": 5,
            "ruleId": 4,
            "pending": true,
            "pendingPeriod": 30
        }

+ Response 200 (application/json)

       {
            "id": 1234,
            "name": "A Sale",
            "eventTypeId": 5,
            "eventTypeName": "Sales",
            "ruleId": 4,
            "ruleName": "Recurring",
            "pending": true,
            "daysToAutoApprove": 30,
            "daysToAutoDeny": 0,
            "referencingImpressionEventId": 1235
        }



### Update Event [PUT /advertiser/events/{eventId}]
Update an existing event. You cannot change the type of event (from a sale to a lead or vice versa), you would need to create a new event.

+ Request (application/json)

        {            
            "name": "A Sale",
            "ruleId": 4,
            "pending": true,
            "pendingPeriod": 30
        }

+ Response 200 (application/json)

       {
            "id": 123,
            "name": "A Sale",
            "eventTypeId": 5,
            "eventTypeName": "Sales",
            "ruleId": 4,
            "ruleName": "Recurring",
            "pending": true,
            "daysToAutoApprove": 30,
            "daysToAutoDeny": 0,
            "referencingImpressionEventId": 124
        }


# Group Tokens
## Advertiser Tokens [/advertiser/tokens]
Tokens are required to use Tradedoubler's older API services: Products, Vouchers, Claims and Conversions. Documentation found at: https://dev.tradedoubler.com

### List tokens [GET]
You can view a list of available tokens:

+ Response 200 (application/json)

        {
           "tokenSystems":[
              "UTS"
           ],
           "tokens":[
              {
                 "id":333,
                 "name":"TradeDoubler",
                 "token":"XXXXXXXXXXXXXXXXXX",
                 "tokenType":"ADVERTISER",
                 "tokenSystem":"UTS"
              }
           ]
        }

### Refresh a token [POST /advertiser/token]

You can refresh your token should you require:
+ Request (application/json)

        {
            "id": 123,
            "tokenType": "ADVERTISER",
            "tokenSystem": "UTS"
        }

+ Response 200 (application/json)

# Group Reporting
## Statistics [/advertiser/report/statistics]
Statistics is the main reporting endpoint. This reflects a lot of work to simplify Tradedoubler's reports from the old advertiser interface into a single endpoint with the ability to change how the statistics are grouped. 
### Statistics [GET]
Detailed statistics for advertiser, they can be grouped by date, source, program, ad.
+ Parameters
    + intervalType: year (enum(string)) - Interval Grouping. 
        + Members
            + `day` - Group by day with max range of 92 days
            + `month` - Group by month
            + `year` - Group by year
            + `period` - Total for the entire period
    + reportType: date (enum(string)) - Report Type Grouping
        + Members
            + `source` - Test info
            + `program`
            + `ad`
            + `date`
    + fromDate: `20200101` (date) - The date the report runs from
    + toDate: `20200201` (date) - The date the report runs until
    + sourceId: 1234567 (long, optional) - Filter by a source ID
    + programId: 123456 (long, optional) - Filter by a program ID
    + adId: 12345678 (long, optional) - Filter by an ad ID
    + reportCurrencyCode: EUR (string) - The ISO 4217 code of currency
    + sortBy: impressions (enum(string)) - The field used to sort the results
        + Members
            + Grouping by date - impressions, clicks, uniqueVisitors, leads, iLeads, sales, iSales, commission, orderValue
            + Grouping by source - impressions, clicks, uniqueVisitors, leads, iLeads, sales, iSales, commission, orderValue, sourceId, sourceName, sourceCountryCode
            + Grouping by program - impressions, clicks, uniqueVisitors, leads, iLeads, sales, iSales, commission, orderValue, programId, programName, programCountryCode
            + Grouping by ad - impressions, clicks, uniqueVisitors, leads, iLeads, sales, iSales, commission, orderValue, adId, adName, adCategoryName
    + sortOrder: asc (string, optional) - The order the sort field is sorted by (asc or desc)
    + offset: 0 (integer, optional) - Offset to get results from
    + limit: 20 (integer, optional) - Number of records to be retrieved

+ Request (application/json)

    + Headers

            Authorization: Bearer [BearerToken]

+ Response 200 (application/json)

        {
            "offset": 0,
            "limit": 2,
            "reportCurrencyCode": "GBP",
            "items": [{
                    "impressions": 0,
                    "clicks": 1,
                    "uniqueVisitors": 1,
                    "leads": 0,
                    "leadsCommission": 0.00,
                    "iLeads": 0,
                    "iLeadsCommission": 0.00,
                    "sales": 0,
                    "salesCommission": 0.00,
                    "iSales": 0,
                    "iSalesCommission": 0.00,
                    "commission": 0.00,
                    "orderValue": 0.00,
                    "date": "2017-09-01T00:00:00.000+0000",
                    "ctr": 0.00,
                    "cr": 0.00,
                    "lr": 0.00,
                    "epc": 0.00,
                    "programId": 123,
                    "programName": "A Program",
                    "programCountryCode": "GB",
                    "deposit": 0.00,
                    "withdraw": 0.00
                }, {
                    "impressions": 0,
                    "clicks": 8,
                    "uniqueVisitors": 4,
                    "leads": 0,
                    "leadsCommission": 0.00,
                    "iLeads": 0,
                    "iLeadsCommission": 0.00,
                    "sales": 0,
                    "salesCommission": 0.00,
                    "iSales": 0,
                    "iSalesCommission": 0.00,
                    "commission": 0.00,
                    "orderValue": 0.00,
                    "date": "2017-09-02T00:00:00.000+0000",
                    "ctr": 0.00,
                    "cr": 0.00,
                    "lr": 0.00,
                    "epc": 0.00,
                    "programId": 123,
                    "programName": "A Program",
                    "programCountryCode": "GB",
                    "deposit": 0.00,
                    "withdraw": 0.00
                }
            ]
        }

### Export [GET /advertiser/report/statistics/export]
Export summary statistics into another reporting format - for analysis in tools such as Excel
+ Parameters
    + format: json (enum(string)) - Format of the export file
        + Members
            + `json`
            + `csv`
            + `xlsx`
            + `xml`
    + intervalType: year (enum(string)) - Interval Grouping. 
        + Members
            + `day`
            + `month`
            + `year`
            + `period`
    + reportType: date (enum(string)) - Report Type Grouping
        + Members
            + `source` - Test info
            + `program`
            + `ad`
            + `date`
    + fromDate: `20190101` (date) - The date the report runs from
    + toDate: `20190201` (date) - The date the report runs until
    + sourceId: 1234567 (long, optional) - Filter by a source ID
    + programId: 123456 (long, optional) - Filter by a program ID
    + adId: 12345678 (long, optional) - Filter by an ad ID
    + reportCurrencyCode: EUR (string, optional) - The ISO 4217 code of currency
    + sortBy: impressions (enum(string)) - The field used to sort the results
        + Members
            + Grouping by date - impressions, clicks, uniqueVisitors, leads, iLeads, sales, iSales, commission, orderValue
            + Grouping by source - impressions, clicks, uniqueVisitors, leads, iLeads, sales, iSales, commission, orderValue, sourceId, sourceName, sourceCountryCode
            + Grouping by program - impressions, clicks, uniqueVisitors, leads, iLeads, sales, iSales, commission, orderValue, programId, programName, programCountryCode
            + Grouping by ad - impressions, clicks, uniqueVisitors, leads, iLeads, sales, iSales, commission, orderValue, adId, adName, adCategoryName
    + sortOrder: asc (string, optional) - The order the sort field is sorted by (asc or desc)
    + offset: 0 (integer, optional) - Offset to get results from
    + limit: 20 (integer, optional) - Number of records to be retrieved

+ Request

    + Headers

            Authorization: Bearer [BearerToken]

+ Response 200 (application/json)

        {
            "reportCurrencyCode": "GBP",
            "items": [{
                    "impressions": 0,
                    "clicks": 1,
                    "uniqueVisitors": 1,
                    "leads": 0,
                    "leadsCommission": 0.00,
                    "iLeads": 0,
                    "iLeadsCommission": 0.00,
                    "sales": 0,
                    "salesCommission": 0.00,
                    "iSales": 0,
                    "iSalesCommission": 0.00,
                    "commission": 0.00,
                    "orderValue": 0.00,
                    "date": "2017-09-01T00:00:00.000+0000",
                    "ctr": 0.00,
                    "cr": 0.00,
                    "lr": 0.00,
                    "epc": 0.00,
                    "programId": 123,
                    "programName": "A Program",
                    "programCountryCode": "GB",
                    "deposit": 0.00,
                    "withdraw": 0.00
                }, {
                    "impressions": 0,
                    "clicks": 8,
                    "uniqueVisitors": 4,
                    "leads": 0,
                    "leadsCommission": 0.00,
                    "iLeads": 0,
                    "iLeadsCommission": 0.00,
                    "sales": 0,
                    "salesCommission": 0.00,
                    "iSales": 0,
                    "iSalesCommission": 0.00,
                    "commission": 0.00,
                    "orderValue": 0.00,
                    "date": "2017-09-02T00:00:00.000+0000",
                    "ctr": 0.00,
                    "cr": 0.00,
                    "lr": 0.00,
                    "epc": 0.00,
                    "programId": 123,
                    "programName": "A Program",
                    "programCountryCode": "GB",
                    "deposit": 0.00,
                    "withdraw": 0.00
                }
            ]
        }

## Transaction [/advertiser/report/transactions]
Transactions relate to sales or leads and give detailed information
### List transaction [GET]
List of transactions for a given source        

+ Parameters      
    + fromDate: `20190101` (datetime) - The date the report runs from, optionally you can provide the time, if no time provided we assume 00:00:00
    + toDate: `20190201` (datetime) - The date the report runs until, optionally you can provide the time, if no time provided we assume 23:59:59 
    + lastModified: true (boolean, optional) - Apply date range to timeofLastModification
    + reportCurrencyCode: EUR (string) - The ISO 4217 code of currency
    + programId: 123456 (long, optional) - Filter by a program ID
    + sourceId: 1234567 (integer, optional) - Filter by Source ID.
    + adId: 12345678 (long, optional) - Filter by an ad ID
    + eventId: 12345 (integer, optional) - Filter by an event ID
    + orderOrLeadNumber: order1234 (string, optional) - Filter transactions by order or lead number
    + status: P (enum(string), optional) - The status of a transaction
        + Member
            + P - Pending
            + A - Accepted
            + D - Denied
    + sortBy: timeOfTransaction (enum(string), optional) - The field used to sort the results
        + Members
            + timeOfTransaction
            + timeOfCreate 
            + orderNumber
            + leadNumber
    + sortOrder: asc (string, optional) - The order the sort field is sorted by (asc or desc)
    + offset: 0 (integer, optional) - Offset to get results from
    + limit: 20 (integer, optional) - Number of records to be retrieved

+ Request (application/json)

    + Headers

            Authorization: Bearer [BearerToken]

+ Response 200 (application/json)

    + Attributes (object)
        + transactionId: 123456789 (number) - Unique ID for each transaction
        + programId: 123456 (number) - The ID for the program where the transaction took place
        + programName: `Program 1` (string) - The name of the program where the transaction took place
        + sourceName: `Source 1` (string) - The name of the source that was attributed the transaction
        + sourceId: 1234567 (number) - The ID of the source that was attributed the transaction
        + adId: 12345678 (number) - The ID of the Ad
        + eventId: 123456 (number) - The event ID for the transaction
        + eventName: `A Sale Event` (string) - The event name describes the transction that took place (this could be a subscription, product, or general sale)
        + eventTypeId: 5 (number) - This donates the `type` of transaction, where 4 = Lead (a transaction with no monetary value like a registration) and 5 = Sale
        + status: `A` (string) - For transactions with a pending period this is the current status, where A = Accepted, P = Pending and D = Denied
        + timeofLastClick: `2019-02-18 19:07:59.0` (string) - The timestamp of the last click before the transaction was made
        + timeofCreate: `2019-02-27 00:38:28.0` (string) - The timestamp of when the transaction was created in Tradedoubler's database (for offline sales this can be some time after the time of transaction)
        + timeofTransaction: `2019-02-26 23:17:56.0` (string) - The timestamp of when the transaction took place
        + timeofLastModified: null (string) - The timestamp of when the transaction was last changed (usually when the status after an advertiser validates transactions)
        + leadNumber: null (string) - When eventTypeId = 4 (transaction is a lead) the leadNumber for the transaction
        + orderNumber: `order123` (string) - When eventTypeId = 5 (transaction is a sale) the orderNumber for the transaction
        + orderValue: 100.00 (number) - When eventTypeId = 5 (transaction is a sale) the order value for the transaction
        + commission: 10.00 (number) - The commission attributed to the source for the transaction
        + paid: false - Whether the commission for the transaction has been assigned to a payment invoice and should have been paid to the publisher
        + productInfo (object) - ProductInfo Object contains all products in the basket for the transaction if the adveriser supplies this data
            + productID: `123A` (string) - The ID of an advertiser's product
            + productName: `A Product` (string) - The name of an advertiser's product
            + quantity: 1 (number) - The quantity of this product in the transaction basket
            + productValue: 9.99 (number) - The price for a single product
            + productGroup: 1234 (number) - When an advertiser is using Product Level Tracking, the group the product is assigned to
        + voucherCode: `10PERCENT` (string) - The voucher code redeemed if it was used for the transaction
        + productsApi: (object)
            + productId: `53292822e4b0961d498eb8d2`(string) - The ID of a product from our Products API `http://dev.tradedoubler.com/products/publisher` that was clicked on before the transaction was made
            + productName: `A Product`(string) - The name of a product from our Products API `http://dev.tradedoubler.com/products/publisher` that was clicked on before the transaction was made
        + crossDevice: -1 (string) - If the sale was cross device, the validation method id
        + pendingRule: auto_approve (string) - If the sale is pending whether the sale will auto approve or auto deny
        + deviceObject (object) - Device Object contains all device information related to the transaction if it took place on a mobile/tablet
            + deviceType: `mobile` (string) - The type of device underConsideration
            + operatingSytem: `Android` (string) - The operating system of the device
            + browser: `Chrome` (string) - The browser used
        + modified: false (boolean) - Identifies if the transaction has been modified
            
        
    + Body
            
            {
                "limit": 1,
                "offset": 0,
                "total": 150,
                "reportCurrencyCode": "EUR",
                "items": [{
                    "programId": 123456,
                    "programName": "Program 1",
                    "sourceName": "Source 1",
                    "sourceId": 1233456,
                    "eventId": 123456,
                    "eventName": "A Sale Event",
                    "eventTypeId": 5,
                    "timeOfLastClick": "2019-02-18 19:07:59.0",
                    "timeOfCreate": "2019-02-27 00:38:28.0",
                    "timeOfTransaction": "2019-02-26 23:17:56.0",
                    "timeOfLastModified": null,
                    "epi": null,
                    "epi2": null,
                    "leadNumber": null,
                    "orderNumber": "order123",
                    "orderValue": 100.00,
                    "commission": 0.00,
                    "paid": false,
                    "status": "A",
                    "productInfo": {
                        "productID": null,
                        "productName": null,
                        "quantity": null,
                        "productValue": null,
                        "productGroup": null
                    },
                    "voucherCode": null,
                    "productsApi": {
                        "productId": "53292822e4b0961d498eb8d2",
                        "productName": "A Product"
                    },
                    "crossDevice": null,
                    "pendingRule": null,
                    "deviceObject": {
                        "deviceType": "mobile",
                        "operatingSystem": "Android",
                        "browser": "Chrome"
                    },
                    "modified": false
                }]
            }

### Export Transactions [GET /advertiser/report/transactions/export]
Export list of transactions for a given source

+ Parameters
    + format: json (enum(string)) - Format of the export file
        + Members
            + `json`
            + `csv`
            + `xlsx`
            + `xml`
    + sourceId: 1234567 (integer, optional) - Source ID. Currently we only allow transactions report to be run for one Source at a time.      
    + fromDate: `20190101` (datetime) - The date the report runs from, optionally you can provide the time, if no time provided we assume 00:00:00
    + toDate: `20190201` (datetime) - The date the report runs until, optionally you can provide the time, if no time provided we assume 23:59:59
    + lastModified: true (boolean, optional) - Apply date range to timeofLastModification
    + programId: 123456 (long, optional) - Filter by a program ID
    + adId: 12345678 (long, optional) - Filter by an ad ID
    + reportCurrencyCode: EUR (string, optional) - The ISO 4217 code of currency
    + orderOrLeadNumber: order1234 (string, optional) - Filter transactions by order or lead number
    + sortBy: timeOfTransaction (enum(string), optional) - The field used to sort the results
        + Members
            + timeOfTransaction
            + timeOfCreate 
            + orderNumber
            + leadNumber
    + sortOrder: asc (string, optional) - The order the sort field is sorted by (asc or desc)
    + offset: 0 (integer, optional) - Offset to get results from
    + limit: 20 (integer, optional) - Number of records to be retrieved

+ Request

    + Headers

            Authorization: Bearer [BearerToken]
 
+ Response 200 (application/json)

    + Attributes (object)
        + programId: 123456 (number) - The ID for the program where the transaction took place
        + programName: `Program 1` (string) - The name of the program where the transaction took place
        + sourceName: `Source 1` (string) - The name of the source that was attributed the transaction
        + sourceId: 1234567 (number) - The ID of the source that was attributed the transaction
        + eventId: 123456 (number) - The event ID for the transaction
        + eventName: `A Sale Event` (string) - The event name describes the transction that took place (this could be a subscription, product, or general sale)
        + eventTypeId: 5 (number) - This donates the `type` of transaction, where 4 = Lead (a transaction with no monetary value like a registration) and 5 = Sale
        + status: `A` (string) - For transactions with a pending period this is the current status, where A = Accepted, P = Pending and D = Denied
        + timeofLastClick: `2019-02-18 19:07:59.0` (string) - The timestamp of the last click before the transaction was made
        + timeofCreate: `2019-02-27 00:38:28.0` (string) - The timestamp of when the transaction was created in Tradedoubler's database (for offline sales this can be some time after the time of transaction)
        + timeofTransaction: `2019-02-26 23:17:56.0` (string) - The timestamp of when the transaction took place
        + timeofLastModified: null (string) - The timestamp of when the transaction was last changed (usually when the status after an advertiser validates transactions)
        + leadNumber: null (string) - When eventTypeId = 4 (transaction is a lead) the leadNumber for the transaction
        + orderNumber: `order123` (string) - When eventTypeId = 5 (transaction is a sale) the orderNumber for the transaction
        + orderValue: 100.00 (number) - When eventTypeId = 5 (transaction is a sale) the order value for the transaction
        + commission: 10.00 (number) - The commission attributed to the source for the transaction
        + paid: false - Whether the commission for the transaction has been assigned to a payment invoice and should have been paid to the publisher
        + productInfo (object) - ProductInfo Object contains all products in the basket for the transaction if the adveriser supplies this data
            + productID: `123A` (string) - The ID of an advertiser's product
            + productName: `A Product` (string) - The name of an advertiser's product
            + quantity: 1 (number) - The quantity of this product in the transaction basket
            + productValue: 9.99 (number) - The price for a single product
            + productGroup: 1234 (number) - When an advertiser is using Product Level Tracking, the group the product is assigned to
        + voucherCode: `10PERCENT` (string) - The voucher code redeemed if it was used for the transaction
        + productsApi: (object)
            + productId: `53292822e4b0961d498eb8d2`(string) - The ID of a product from our Products API `http://dev.tradedoubler.com/products/publisher` that was clicked on before the transaction was made
            + productName: `A Product`(string) - The name of a product from our Products API `http://dev.tradedoubler.com/products/publisher` that was clicked on before the transaction was made
        + crossDevice: -1 (string) - If the sale was cross device, the validation method id
        + pendingRule: auto_approve (string) - If the sale is pending whether the sale will auto approve or auto deny
        + deviceObject (object) - Device Object contains all device information related to the transaction if it took place on a mobile/tablet
            + deviceType: `mobile` (string) - The type of device underConsideration
            + operatingSytem: `Android` (string) - The operating system of the device
            + browser: `Chrome` (string) - The browser used
        + modified: false (boolean) - Identifies if the transaction has been modified
        
    + Body
            {
                "reportCurrencyCode": "EUR",
                "items": [{
                    "programId": 123456,
                    "programName": "Program 1",
                    "sourceName": "Source 1",
                    "sourceId": 1233456,
                    "eventId": 123456,
                    "eventName": "A Sale Event",
                    "eventTypeId": 5,
                    "timeOfLastClick": "2019-02-18 19:07:59.0",
                    "timeOfCreate": "2019-02-27 00:38:28.0",
                    "timeOfTransaction": "2019-02-26 23:17:56.0",
                    "timeOfLastModified": null,
                    "epi": null,
                    "epi2": null,
                    "leadNumber": null,
                    "orderNumber": "order123",
                    "orderValue": 100.00,
                    "commission": 0.00,
                    "paid": false,
                    "status": "A",
                    "productInfo": {
                        "productID": null,
                        "productName": null,
                        "quantity": null,
                        "productValue": null,
                        "productGroup": null
                    },
                    "voucherCode": null,
                    "productsApi": {
                        "productId": "53292822e4b0961d498eb8d2",
                        "productName": "A Product"
                    },
                    "crossDevice": null,
                    "pendingRule": null,
                    "deviceObject": {
                        "deviceType": "mobile",
                        "operatingSystem": "Android",
                        "browser": "Chrome"
                    },
                    "modified": false
                }]
            }

## Dashboard [/advertiser/report/dashboard]
Collection of summary reports
### Summary statistics [GET]
Summary statistics used for the dashboard within the publisher interface.
+ Parameters
    + intervalType: `TODAY` (enum(string)) - Date range for the report
        + Members
            + `TODAY`
            + `YESTERDAY`
            + `LAST_7_DAYS`
            + `LAST_WEEK`
            + `CURRENT_WEEK`
            + `LAST_30_DAYS`
            + `LAST_MONTH`
            + `CURRENT_MONTH`
    + reportCurrencyCode: EUR - The ISO 4217 code of the currency.
    
+ Request (application/json)

    + Headers

            Authorization: Bearer [BearerToken]

+ Response 200 (application/json)

        {
            "impressions": 800000,
            "clicks": 50000,
            "uniqueVisitors": 35000,
            "leads": 0,
            "iLeads": 0,
            "sales": 1000,
            "salesOrderValue": 30000.00,
            "iSales": 0,
            "iSalesOrderValue": 0.00,
            "publisherCommission": 1250.00,
            "tdCommission": 0.00,
            "reportCurrencyCode": "EUR",
            "data":{
                "impressions":[
                    {
                        "date":"2020-01-01T00:00:00.000+0000",
                        "value": 500000,
                        "publisherCommission": 0,
                        "tdCommission": 0
                    },
                    {
                        "date":"2020-01-02T01:00:00.000+0000",
                        "value": 300000,
                        "publisherCommission": 0,
                        "tdCommission": 0
                    }
                ],
                "clicks":[
                    {
                        "date":"2020-01-01T00:00:00.000+0000",
                        "value": 30000,
                        "publisherCommission": 0,
                        "tdCommission": 0
                    },
                    {
                        "date":"2020-01-02T01:00:00.000+0000",
                        "value": 20000,
                        "publisherCommission": 0,
                        "tdCommission": 0
                    }
                ],
                "uniqueVisitors":[
                    {
                        "date":"2020-01-01T00:00:00.000+0000",
                        "value": 20000,
                        "publisherCommission": 0,
                        "tdCommission": 0
                    },
                    {
                        "date":"2020-01-02T01:00:00.000+0000",
                        "value": 15000,
                        "publisherCommission": 0,
                        "tdCommission": 0
                    }
                ],
                "leads":[
                    {
[...]
